<div class="__cp__-padding">

  <h3>Class .__cp__-display-none-*</h3>
  <table>
    <tr>
      <td></td>
      <td>xs</td>
      <td>sm</td>
      <td>md</td>
      <td>lg</td>
      <td>xl</td>
    </tr>
    <tr>
      <td>=</td>
      <td><button color="primary" mat-stroked-button class="__cp__-display-none-xs">xs</button></td>
      <td><button color="primary" mat-stroked-button class="__cp__-display-none-sm">sm</button></td>
      <td><button color="primary" mat-stroked-button class="__cp__-display-none-md">md</button></td>
      <td><button color="primary" mat-stroked-button class="__cp__-display-none-lg">lg</button></td>
      <td><button color="primary" mat-stroked-button class="__cp__-display-none-xl">xl</button></td>
    </tr>
    <tr>
      <td>gt</td>
      <td><button color="accent" mat-flat-button class="__cp__-display-none-gt-xs">gt-xs</button></td>
      <td><button color="accent" mat-flat-button class="__cp__-display-none-gt-sm">gt-sm</button></td>
      <td><button color="accent" mat-flat-button class="__cp__-display-none-gt-md">gt-md</button></td>
      <td><button color="accent" mat-flat-button class="__cp__-display-none-gt-lg">gt-lg</button></td>
      <td>NA</td>
    </tr>
    <tr>
      <td>lt</td>
      <td>NA</td>
      <td><button color="warn" mat-flat-button class="__cp__-display-none-lt-sm">lt-sm</button></td>
      <td><button color="warn" mat-flat-button class="__cp__-display-none-lt-md">lt-md</button></td>
      <td><button color="warn" mat-flat-button class="__cp__-display-none-lt-lg">lt-lg</button></td>
      <td><button color="warn" mat-flat-button class="__cp__-display-none-lt-xl">lt-xl</button></td>
    </tr>
  </table>


  <br>
  <br>
  <br>
  <br>


  <h3>Class .__cp__-display-block-*</h3>
  <table class="button-display-none">
    <tr>
      <td></td>
      <td>xs</td>
      <td>sm</td>
      <td>md</td>
      <td>lg</td>
      <td>xl</td>
    </tr>
    <tr>
      <td>=</td>
      <td><button color="primary" mat-stroked-button class="__cp__-display-block-xs">xs</button></td>
      <td><button color="primary" mat-stroked-button class="__cp__-display-block-sm">sm</button></td>
      <td><button color="primary" mat-stroked-button class="__cp__-display-block-md">md</button></td>
      <td><button color="primary" mat-stroked-button class="__cp__-display-block-lg">lg</button></td>
      <td><button color="primary" mat-stroked-button class="__cp__-display-block-xl">xl</button></td>
    </tr>
    <tr>
      <td>gt</td>
      <td><button color="accent" mat-flat-button class="__cp__-display-block-gt-xs">gt-xs</button></td>
      <td><button color="accent" mat-flat-button class="__cp__-display-block-gt-sm">gt-sm</button></td>
      <td><button color="accent" mat-flat-button class="__cp__-display-block-gt-md">gt-md</button></td>
      <td><button color="accent" mat-flat-button class="__cp__-display-block-gt-lg">gt-lg</button></td>
      <td>NA</td>
    </tr>
    <tr>
      <td>lt</td>
      <td>NA</td>
      <td><button color="warn" mat-flat-button class="__cp__-display-block-lt-sm">lt-sm</button></td>
      <td><button color="warn" mat-flat-button class="__cp__-display-block-lt-md">lt-md</button></td>
      <td><button color="warn" mat-flat-button class="__cp__-display-block-lt-lg">lt-lg</button></td>
      <td><button color="warn" mat-flat-button class="__cp__-display-block-lt-xl">lt-xl</button></td>
    </tr>
  </table>





</div>

